:root {
    --clear-color: #F4DBD8;
    --middle-color: #8F726C;
    --dark-color: #2A0800;
    --function-btn: #F3A712;
    --symbol-btn: #E7E6F7;
    --number-btn: #F4F3EE;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: var(--clear-color);
}

button {
    padding: 16px 0;
    font-size: 32px;
    border-radius: 8px;
    border: none;
    color: var(--dark-color);
}

button:hover {
    cursor: pointer;
}

#calculator {
    padding: 48px;
    background-color: var(--middle-color);
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 8px;
}

#screen {
    background-color: var(--dark-color);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 150px;
    color: var(--clear-color);
}

#screen>* {
    flex: 1;
}

#result {
    text-align: right;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row {
    display: flex;
    align-items: center;
    gap: 16px;
}

.row>* {
    flex: 1;
}

#zero-btn {
    flex: 2;
    padding: 16px 8px;
}

.number {
    background-color: var(--number-btn);
}

.symbol {
    background-color: var(--symbol-btn);
}

.function {
    background-color: var(--function-btn);
}

.inactive-btn {
    pointer-events: none;
}